body {
  background-image: url("img/deportes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 5px; }

.carousel-inner img {
  width: 30em;
  height: 30em; }
