$yellow: #fffa19;
$red: #f22400;
$verde: #1a9c00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

body{
	background-image: url('img/deportes.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.jumbotron{
	background-color: $yellow;
	color: $red;
	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $verde;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 150px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;

}
.footer-address-icon{
	padding-right: 5px;
}
.carousel-inner img{
  width: 30em;
  height: 30em;
}